<?php

defined('YII_DEBUG') or define('YII_DEBUG', true);
defined('YII_ENV') or define('YII_ENV', 'dev');

return [
    'db' => [
        'dsn' => 'mysql:host=localhost;dbname=yii2basic',
        'username' => 'root',
        'password' => '',

        'enableSchemaCache' => false,
        'schemaCacheDuration' => 3600,
        // Schema cache options (for production environment)
        //'schemaCacheDuration' => true,
        //'schemaCache' => 60,
    ],

    'cookieValidationKey' => 'uCw8mUYnzpaqfc9CEWYSfkt9P3iBdOS8',

    'adminEmail' => 'admin@example.com',
    'senderEmail' => 'noreply@example.com',
    'senderName' => 'Example.com mailer',
];
